<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form method="post", enctype="multipart/form-data">
        {%csrf_token%}
        <input type="text" name="title">
        <input type="text" name="content">
        <input type="image" name="photo">
        <br>
        <br>
        <br><br>
        <button type="submit">Joylash</button>
        </form>
</body>
</html>